$orange: #FF9300;
/*$lavender: #e579ff;*/
$green: #7bce34;
$yellow: #fdf09d;
$darkPurple: #2d290c;
$nude: #E0C7BA;
$darkPink: #C62C74;
$mediumBlue: #568797;
$white: #FFFFFF;

/* New pallette */
$malbec: #351f39;
$boliva: #709fb0;
$jacaranda: #726a95;
$azulVerde: #90c1b8;
$ivory: #f4e8c1;
$lavender: #e1d1f1;
$unripeLemon: #ebffd3;